#page-transporter-list {
    width: 100vw;
    height: 100vh;
}



#search-transporters {
    margin-top: 3.2rem;
}

#search-transporters label {
    color: var(--color-text-in-primary);
}

#page-transporter-list main {
    margin: 3.2rem auto;
    width: 90%;
}


@media (min-width: 700px) {
    #page-transporter-list {
        max-width: 100%;
    }

    #search-transporters {
        display: grid;
        grid-template-columns: repeat(3,1fr);
        column-gap: 16px;
        position: absolute;
        bottom: -28px;
    }

    #search-transporters .input-block + .input-block ,
    #search-transporters .select-block + .select-block {
        margin-top: 0;
    }

    #page-transporter-list main {
        padding: 3.2rem 0;
        max-width: 740px;
        margin: 0 auto;
    }

    .transporter-item header,
    .transporter-item footer {
        padding: 3.2rem;
    }

    .transporter-item > p {
        padding: 0 3.2rem;
    }
    
    .transporter-item footer p strong {
        display: initial;
        margin-left: 1.6rem;
    }

    .transporter-item footer button {
        width: 24.5rem;
        font-size: 1.6rem;
        justify-content: center;
    }

    .transporter-item footer button img {
        margin-right: 1.6rem;
    }
    

}